.page-auth {
  padding: 40rpx;

  .logo-warp {
    margin-bottom: 40rpx;
    min-height: 50vh;
    text-align: center;
    padding-top: 120rpx;

    .logo {
      width: 256rpx;
      height: 256rpx;
      margin: 0 auto;
    }

    .title {
      font-weight: bold;
      margin-top: 30rpx;
      font-size: 32rpx;
    }
  }
}