.quill-editor {
  .ql-picker.ql-size .ql-picker-label[data-value='ft10']::before,
  .ql-picker.ql-size .ql-picker-item[data-value='ft10']::before {
    content: '10px';
  }

  .ql-picker.ql-size .ql-picker-label[data-value='ft12']::before,
  .ql-picker.ql-size .ql-picker-item[data-value='ft12']::before {
    content: '12px';
  }

  .ql-picker.ql-size .ql-picker-label[data-value='ft14']::before,
  .ql-picker.ql-size .ql-picker-item[data-value='ft14']::before {
    content: '14px';
  }

  .ql-picker.ql-size .ql-picker-label[data-value='ft15']::before,
  .ql-picker.ql-size .ql-picker-item[data-value='ft15']::before {
    content: '15px';
  }

  .ql-picker.ql-size .ql-picker-label[data-value='ft16']::before,
  .ql-picker.ql-size .ql-picker-item[data-value='ft16']::before {
    content: '16px';
  }

  .ql-picker.ql-size .ql-picker-label[data-value='ft18']::before,
  .ql-picker.ql-size .ql-picker-item[data-value='ft18']::before {
    content: '18px';
  }

  .ql-picker.ql-size .ql-picker-label[data-value='ft20']::before,
  .ql-picker.ql-size .ql-picker-item[data-value='ft20']::before {
    content: '20px';
  }

  .ql-size-ft10 {
    font-size: 10px;
  }

  .ql-size-ft12 {
    font-size: 10px;
  }

  .ql-size-ft14 {
    font-size: 14px;
  }

  .ql-size-ft16 {
    font-size: 16px;
  }

  .ql-size-ft18 {
    font-size: 18px;
  }

  .ql-size-ft20 {
    font-size: 20px;
  }
}
