{
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-packagejson", "prettier-plugin-tailwindcss"]
}
