.ai-opt-content {
  position: relative;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0 !important;
    margin-bottom: 8px !important;
    color: #000;
  }
  h2, h3 {
    font-size: 15px !important;
  }
  p, li, ul {
    font-size: 14px;
    color: #333;
  }
  p {
    margin-bottom: 4px !important;
  }
  ul, ol {
    padding-left: 0 !important;
  }
}
